body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #455A64;
  box-sizing: border-box;
}
.grid {
  display: grid;
  /*grid-template-columns:;*/
  grid-column-gap: 1em;
  grid-template-areas: 
  "mobile-head"
  "bookmarks";
  }
header {
  font-family: 'Open sans';
  color: #FFFFFF;
  margin: auto;
  text-align: center;
  display: block;
  font-size: .5em;
}

div {
  margin: 1em;
}

img {
  height: 3.2em;
  margin: auto 1em;
}

span {
  font-size: 3.64em;
  font-weight: bold;
}

input {
  display: block;
  margin: 2em auto;
  width: 15.5em;
  height: .9em;
  font-size: 1.9em;
  padding: .4em;
  border: solid;
  border-color: #CFD8DC;
  border-width: 2px;
}

::placeholder {
  opacity: .5;
}

.enter-btn {
  background: #FFC107;
  width: 31.5em;
  height: 2.8em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin: auto;
  display: block;
  border: none;
}

.enter-btn:hover {
  background: #FFD773;
}

.enter-btn:disabled {
  background: #FFC107;
}

section {
  background: #CFD8DC;
  grid-area: bookmarks;
  min-height: 1000px;
}

article {
  border: solid;
  border-color: #607D8B;
  border-width: 2px;
  margin: 1.6em 1.2em;
  width: 93%;
  background: white;
}

.website-title-display, .website-link-display {
  border-bottom: solid;
  border-color: #CFD8DC;
  border-width: 1.5px;
  margin: 10px 10px;
}

.website-title-display{
  color: #455A64;
  font-weight: bold;
  font-size: 2em;
  padding: .2em;
}

.website-link-display {
  display: block;
  color: #607D8B;
  text-decoration-line: underline;
  text-decoration-color: #CFD8DC;
  font-size: 1.58em;
  padding-top: .4em;
  padding-bottom: 1em;
  padding-left: .5em;
}

.read-btn, .delete-btn {
  color: #455A64;
  background: white;
  display: inline-block;
  border: none;
  font-size: 1em;
  text-decoration-line: underline;
  text-decoration-color: #CFD8DC;
  padding-bottom: .5em;
}

.read-btn {
  padding-left: 1em;
}

.delete-btn {
  float: right;
  padding-right: 1em;
}

/*Any styling for desktop below*/
@media (min-width: 1050px){
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0em;
    grid-template-areas: 
    "mobile-head bookmarks"
  }
  form {
    position: fixed;
  }
  div{
    margin: 14em auto 14em 3em;
    /*padding: 12em 1em 1em 5em;*/
    grid-area: mobile-head;
  }
  header{
    margin: auto;
    font-size: 1.05em;
  }

}

.read {

}

















